<header class="py-3 text-white {{ class }}">
  <div class="container flex justify-between items-center">
    <div class="flex items-center gap-2">
      <div class="w-14">
        <img src="assets/piggyPayLogo.png" alt="piggyPayLogo" />
      </div>
      <div class="self-end italic">
        <span class="font-bold text-primaryl">Piggy</span>
        <br />
        <span class="font-regular text-primary pl-3">Pay</span>
      </div>
    </div>
    <div>
      <button class="bg-primaryl px-8 py-3 rounded-3xl">
        <a (click)="onLogout()">LogOut</a>
      </button>
    </div>
  </div>
</header>
