<!-- <router-outlet></router-outlet> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piggy Pay</title>
    <!-- Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Link To CSS -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <!-- <pp-header></pp-header> -->
    <!-- Main -->
    <section id="main">
        <!-- Glass Box -->
        <div class="main-box">
            <!-- Navbar -->
            <nav>
                <ul>
                    <li><a href="#" class="logo">Piggy Pay</a></li>
                    <li><a routerLink="/login" routerLinkActive="active"><i class='bx bx-log-in'></i></a></li>
                </ul>
            </nav>
            <!-- Main Content -->
            <div class="main-content">
                <!-- Main Text -->
                <div class="main-text">
                    <h1>Welcome to Piggy Pay. World’s Safest And Most Trusted Piggy Bank.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Sint voluptas distinctio
                        perspiciatis
                        aspernatur.</p>
                    <!-- Buttons -->
                    <a href="#" class="btn1">View More</a>
                    <!-- <a href="#" class="btn2">Help</a> -->
                </div>
                <!-- Image -->
                <div class="main-img">
                    <img src="https://raw.githubusercontent.com/aravindreddymokireddy/aravindreddymokireddy.github.io/main/images/piggy%20bank.png"
                        alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- circles -->
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>

</html>