<div class="min-h-screen text-white">
  <pp-dash-header class="bg-secondary"></pp-dash-header>
  <div class="bg-primaryl py-4">
    <div class="container">
      <div class="top-container pt-5 flex justify-between">
        <h1 class="text-4xl font-semibold italic">Welcome {{ user?.employeeName }}.</h1>
        <div class="new-transaction flex items-center gap-1 cursor-pointer">
          <a routerLink="/emp/transaction">
            <img src="assets/svg/add.svg" alt="Add" />
            <span class="text-xl">New Transaction</span>
          </a>
        </div>
      </div>
      <div class="mt-20">
        <h2 class="text-xl">Pending Transactions :</h2>
        <table
          class="mt-4 table-auto bg-tertiary rounded-2xl w-full text-tblack border-separate border-spacing-x-4 border-spacing-y-8">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Transfer Fee</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let transaction of pendingTransactions">
              <td>{{transaction.transferDate | date}}</td>
              <td>CTC</td>
              <td>{{transaction.customer.customerId}} ({{transaction.customer.accountHolderName}})</td>
              <td>{{transaction.receiverAccountHolderNumber}} ({{transaction.receiverAccountHolderName}})</td>
              <td>{{transaction.currencyAmount | currency: 'INR'}}</td>
              <td>{{0.0025*transaction.currencyAmount | currency: 'INR'}}</td>
              <td>Accept, Reject</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr class="h-[2px]" />
  <div class="bg-secondary py-4">
    <div class="container">
      <div class="mt-10">
        <h2 class="text-xl">Completed Transactions :</h2>
        <table
          class="mt-4 table-auto bg-tertiary rounded-2xl w-full text-tblack border-separate border-spacing-x-4 border-spacing-y-8">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Transfer Fee</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let transaction of finalizedTransactions">
              <td>{{transaction.transferDate | date}}</td>
              <td>CTC</td>
              <td>{{transaction.customer.customerId}} ({{transaction.customer.accountHolderName}})</td>
              <td>{{transaction.receiverAccountHolderNumber}} ({{transaction.receiverAccountHolderName}})</td>
              <td>{{transaction.currencyAmount | currency: 'INR'}}</td>
              <td>{{0.0025*transaction.currencyAmount | currency: 'INR'}}</td>
              <td>{{transaction.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>