<div class="min-h-screen text-tblack">
  <pp-dash-header class="bg-secondary"></pp-dash-header>
  <div class="bg-secondary py-4">
    <div class="container">
      <div class="top-container pt-5 flex flex-col">
        <h1 class="text-4xl font-semibold italic">Welcome {{ user?.accountHolderName | titlecase }}.</h1>

        <div class="pt-10 flex justify-between">
          <h1 class="text-2xl font-semibold italic">
            Balance {{ user?.clearBalance?.toFixed(2) }}
          </h1>
          <div class="new-transaction flex items-center gap-1 cursor-pointer">
            <img src="assets/svg/addblack.svg" alt="Add" />
            <span class="text-xl"><a routerLink="/cust/transaction" routerLinkActive="active">New Transaction</a></span>
          </div>
        </div>
      </div>
      <div class="mt-20">
        <h2 class="text-xl">Pending Transactions :</h2>
        <table
          class="mt-4 table-auto bg-tertiary rounded-2xl w-full text-tblack border-separate border-spacing-x-4 border-spacing-y-8">
          <thead>
            <tr>
              <th>Date</th>
              <th>Debit/Credit</th>
              <th>From/To</th>
              <th>Bank</th>
              <th>Type</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor='let transaction of pendingTransactions'>
              <td>{{transaction.transferDate | date}}</td>
              <td *ngIf='transaction.customer.customerId == user?.customerId'>Debit</td>
              <td *ngIf='transaction.receiverAccountHolderNumber == user?.customerId'>Credit</td>
              <td *ngIf='transaction.customer.customerId == user?.customerId; else credit'>
                {{transaction.receiverAccountHolderName}} ({{transaction.receiverAccountHolderNumber}})</td>
              <ng-template #credit>{{transaction.customer.accountHolderName}}</ng-template>
              <td *ngIf='transaction.customer.customerId == user?.customerId; else bank'>
                {{transaction.receiverBank.bankName}}</td>
              <ng-template #bank>{{transaction.senderBank.bankName}}</ng-template>
              <td>CTC</td>
              <td>{{transaction.currencyAmount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr class="h-[2px]" />
  <div class="bg-primaryl py-4">
    <div class="container">
      <div class="mt-10">
        <h2 class="text-xl">Completed Transactions :</h2>
        <table
          class="mt-4 table-auto bg-tertiary rounded-2xl w-full text-tblack border-separate border-spacing-x-4 border-spacing-y-8">
          <thead>
            <tr>
              <th>Date</th>
              <th>Debit/Credit</th>
              <th>From/To</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor='let transaction of completedTransactions'>
              <td>{{transaction.transferDate | date}}</td>
              <td *ngIf='transaction.customer.customerId == user?.customerId'>Debit</td>
              <td *ngIf='transaction.receiverAccountHolderNumber == user?.customerId'>Credit</td>
              <td *ngIf='transaction.customer.customerId == user?.customerId; else credit'>
                {{transaction.receiverAccountHolderName}} ({{transaction.receiverAccountHolderNumber}})</td>
              <ng-template #credit>{{transaction.customer.accountHolderName}}</ng-template>
              <td>CTC</td>
              <td>{{transaction.currencyAmount}}</td>
              <td><span class="{{transaction.status}}">{{transaction.status}}</span></td>
              <td>{{transaction.employeeRemarks}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>